* {
	margin: 0;
	/* max-width: 100%; */
	font-family: 'Josefin Sans', sans-serif;
}

body {
	background: #F5F1D5;
	font-size: 1.5em;
}


/*  Welcome Page  */

.landing-section {
	border: 1px solid black;
	height: 100vh;
	margin: 10px;
}

.logo-container {
	margin: 0 auto;
	width: 1.8em;
	padding-top: 40vh;
}

.logo {
	margin: auto;
	border-left: 1px solid black;
	border-right: 1px solid black;
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
}

.logo:first-child {
	border-top: 1px solid black;
	color: #D35C4C;
}

.logo:nth-child(2) {
	color: #D35C4C;
}

.logo:last-child {
	border-bottom: 1px solid black;
}

/*  Intro  */

.intro {
	height: 100vh;
	position: relative; 
	background: #110f18;
	font-size: 20px;
}
  
.pink-square {
	height: 150px;
	width: 150px;
	background: #d35c4c;
	color: #f5f1d5;
	position: absolute;
	transition: all 1s;
}

.text-box {
	background: transparent;
	width: 300px;
	padding: 30px 0 0 30px;
}

.pink-square:first-child {
/*   margin: 30px 0 0 30px; */
	top: 5%;
	left: 10%
}

.pink-square:last-child {
	bottom: 25%;
	right: 5%;
}

.pink-square:last-child > .text-box {
	text-align: right;
	width: 200px;
	transform: translate(-50%, 0);
}

/* Skills Section */
.skills-section {
	height: 100vh;
	background: #110f18;
	position: relative;
}
  
.skills-section > .triangle-top-right {
	width: 0;
	height: 0;
	transition: all 1s;
	position: absolute;
	border-style: solid;
	border-width: 0 50vw 400px 0;
	border-color: transparent #f5f1d5 transparent transparent;
}

.skills-section > .triangle-bottom-left {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 0;
	height: 0;
	border-style: solid;
	transition: all 1s;
	border-width: 400px 0 0 50vw;
	border-color: transparent transparent transparent #f5f1d5;
}

.skills-section > .vert-heading-text {
	color: #d35c4c;
	font-size: 30px;
	transform: rotate(-90deg);
	position: absolute;
	left: -85px;
	top: 275px;
	transition: all 1s;
}

.things-i-do {
	position: absolute;
	right: 5%;
	bottom: 10%;
	transition: all 1s;
}

.skills-section li {
	color: #f5f1d5;
	font-size: 20px;
}

/* Work Section */
img {
	border-radius: 10px;
	display: block;
	float: right;
	bottom: 12px;
	width: 40%;
	margin-left: auto;
	margin-right: 10px;
	margin-top: 40vh;
	border: 0.5px solid #d35c4c;
}

.work-section {
	min-height: 100vh;
	background: #f5f1d5;
	background: #110f18;
}

.side-section {
	width: 50%;
	height: 100vh;
	background: #f5f1d5; 
	position: relative;
	overflow: hidden;
}

.side-section > .circle {
	color: #f5f1d5;
	background: #d35c4c;
	width: 290px;
	height: 290px;
	border-radius: 50%;
	line-height: 5.5em;
	font-size: 2.1em;
	text-align: center;
	transform: rotate(-90deg);
	position: absolute;
	left: 10%;
	top: 5%;
	transition: all 1s;
}

.work-p {
	position: absolute;
	padding: 10%;
	bottom: 2%;
}

/* Likes Section */
.likes-section {
	background: #f5f1d5;
	height: 100vh;
	overflow: hidden;
}

.bottom-section {
	position: relative;
	height: 100vh;
	transition: all 1s;
}

.bottom-section > .large-circle {
	width: 750px;
	height:750px;
	background: #110f18;
	border-radius: 50%;
	top: 30%;
	left: -15%;
	position: absolute;
	transition: all 2s;
}

.bottom-section > .large-circle > .small-circle {
	width: 70%;
	height: 70%;
	margin: 0 auto;
	background: #d35c4c;
	border-radius: 50%;
	margin-top: 15%;
	transition: all 1s;
}

.vert-heading-text {
	color: #d35c4c;
	font-size: 30px;
	transform: rotate(-90deg);
	position: absolute;
	left: -60px;
	top: 285px;
	transition: all 1s;
}

.things-i-like {
	position: absolute;
	font-size: 18px;
	width: 200px;
	right: 45%;
	top: 20%;
	line-height: 1.2em;
	color: #f5f1d5;
}

/* Chef Section */
.chef-section {
	margin: 0 auto;
	min-height: 100vh;
	background: #f5f1d5;
	position: relative;
}

.chef-section > .triangle-top-left {
	/* display: inline-block; */
	top: 0px;
	left: 0px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50vh 70vw 0 0;
	border-color: #110f18 transparent transparent transparent;
	transition: all 1s;
	position: absolute;
}

.chef-section > .triangle-bottom-left {
	/* display: inline-block; */
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 0;
	height: 0;
	border-style: solid;
	transition: all 1s;
	border-width: 50vh 0 0 70vw;
	border-color: transparent transparent transparent #110f18;
}

.pink-circle {
	background: #d35c4c;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 50%;
	transition: all 1s;
	transform: translate(-50%, -50%);
}
	
.chef-section > .vert-heading-text {
	color: #f5f1d5;
	font-size: 30px;
	transform: rotate(-90deg);
	position: absolute;
	left: -60px;
	top: 285px;
	transition: all 1s;
}

.chef-history-text {
	font-size: 16px;
	width: 150px;
	position: absolute;
	right: 5%;
	bottom: 20%
}

.chef-section ul {
	margin-top: 5px;
}

.chef-section li {
	font-size: 16px;
	color: black;
}

/* Film Edu Section */
.film-edu-section {
	margin: 0 auto;
	min-height: 100vh;
	background: #f5f1d5;
	position: relative;
	overflow: hidden;
	max-width: 1250px;
	transition: all 1s;
}

.top-circle {
	top: 3%;
	right: -53%;
	width: 60%;
	height:0;
	padding-bottom: 60%;
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	background: #d35c4c;
	position: absolute;
	transform: translate(-50%, -50%);
}

.bottom-circle {
	width: 700px;
	height:700px;
	background: #110f18;
	border-radius: 50%;
	top: 60%;
	left: -40%;
	position: absolute;
}

.film-edu-section > .vert-heading-text {
	color: #110f18;
	font-size: 30px;
	transform: rotate(-90deg);
	position: absolute;
	left: -30px;
	top: 23%;
	transition: all 1s;
}
  
  
.film-edu-section > .vert-heading-text:last-child {
/*   color: #f5f1d5; */
	color: #f5f1d5;
	top: 83%;
	left: 195px;
}
  
.film-work {
	width: 220px;
	position: absolute;
	color: #110f18;
	top: 20%;
	right: 5%;
}

.education {
	width: 200px;
	position: absolute;
	color: #f5f1d5;
	bottom: 5%;
	left: 5%;
}

.film-edu-section li {
	padding: 4px;
	font-size: 16px;
}

/* Connect */
.connect-wrapper {
	background: #110f18;
	height: auto;
	display: inline-block;
	width: 100vw;
	position: relative;
}
.connect {
	margin: 50px;
	border: 1px solid #f5f1d5;
	height: 90vh;
	background: #110f18;
	position: relative;
}

.main-text {
	background: #110f18;
	color: #f5f1d5;
	font-size: 40px;
	padding: 20px;
	width: 200px;
	height: 40%;
	text-align: right;
	float: right;
	margin-right: -30px;
	margin-top: 40px;
}

.sub-text {
	background: #110f18;
	color: #f5f1d5;
	font-size: 16px;
	padding: 20px;
	width: 200px;
	height: 20%;
	text-align: right;
	float: right;
	margin-right: -30px;
}

.connect-wrapper > .connect > .links {
	/* display: none; */
	margin-top: 222px;
}

.links ul {
	list-style: none;
	text-align: center;
	margin-top: -50%;
	padding: 0;
	margin-left:10px;
  }
  
.links ul li {
	list-style: none;
	/* display: inline-block; */
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	background: #110f18;
	border-radius: 50%;
	font-size: 2em;
	position: relative;
	transition: .5s ease-in-out;
	color: #262626;
	z-index: 1;
  }
  
.links ul li a {
	color: white;
  }
  
.links ul li a:hover {
	color: #110f18;
  }
  
.links ul li::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	border-radius: 50%;
	transform: scale(0);
	transition: .5s ease-in-out;
	z-index: -1;
  }
  
.links ul li:hover::before {
	transform: scale(0.9);
  }
  
.links ul li:hover {
	color: white;
  }

/*  Form Section  */

.form-wrapper {
	background: #110f18;
	height: auto;
	display: inline-block;
	width: 100vw;
	position: relative;
}

.form-section {
	position: relative;
	min-height: 95vh;
	background: #110f18;
	margin:50px;
	border: 1px solid #d35c4c;
}

.contact-form {
	top: 20vh;
	left: 25%;
	position: relative;
	color: #f5f1d5;
	/* width: 70%; */
}

form {
	
}

.contact-form h1 {
	font-size: 1.2em;
	font-weight: 300;
	text-align: left;
	color: #f5f1d5;
	margin: -16px -16px 16px -16px;
	padding-bottom: 20px;
}

.contact-form label {
	display: block;
	font-size: 0.6em;
}

input[type=text]{
	margin-bottom: 20px;
	margin-top: 5px;
	/* padding-bottom: 10px; */
	width: 50%;
	background: transparent;
	border: 0;
	border-bottom: 2px solid #f5f1d5;
	color: #f5f1d5;
}

.message-label {
	padding-top: 30px;
	padding-bottom: 10px;
	color: #f5f1d5;
}

textarea {
	padding-top: 20px;
	background: transparent;
	color: #f5f1d5;
	width: 50%;
	resize: none;
}

button {
	display: block;
	margin: 10px;
	padding: 10px 30px;
	color: #f5f1d5;
	background: #110f18;
	border-radius: 15px;
	font-size: 0.6em;
	position: absolute;
	right: 45%;
}

button:hover {
	background: #F5F1D5;
	color: #110f18;
}

/*--------------------------------------------*/
/*               Break Points                 */
/*--------------------------------------------*/

@media (min-width: 1024px) {
	/* landing-section */
	.logo-container {
		width: 3.8em;
	}

	.logo {
		font-size: 2em;
	}

	/* intro */
	.intro {
		font-size: 1.3em;
	}

  .pink-square:first-child {
    top: 30%;
    left: 35%;
  }
  
  .pink-square:last-child {
    right: 35%;
	}
	
	/* skills section */
	.skills-section li {
		color: #f5f1d5;
		font-size: 1.5em;
	}

	.things-i-do {
    right: 10%;
    bottom: 30%;
  }
  
  .skills-section > .vert-heading-text {
    color: #d35c4c;
    transform: rotate(0deg);
    position: absolute;
    left: 70%;
		top: 90%;
	}

	/* work section */
	.side-section > .circle {
    transform: rotate(0deg);
    left: 38%;
    top: -3%;
		line-height: 8em;
		width: 400px;
		height: 400px;
	}
	
	img {
		margin-left: auto;
		margin-right: 50px;
	}

	/* likes section */
	.bottom-section > .large-circle {
		top: 40%;
	}
	.bottom-section > .large-circle > .small-circle {
    position: absolute;
    top: -30vh;
    left: 40vw;
  }
  .likes-section > .bottom-section > .vert-heading-text {
      transform: rotate(0deg);
      position: absolute;
      left: 10%;
      top: 85%;
  }
  
  .things-i-like {
		font-size: 23px;
		width: 250px;
    right: 27%;
    top: 20%;
  }
	
	/* chef section */
	.chef-section {
    overflow: hidden;
  }
  
  .chef-section > .vert-heading-text {
    transform: rotate(0deg);
    top: 13%;
    left: 72%;
  }
  
  .chef-history-text {
    width: 300px;
    right: 35%;
		bottom: 43%;
		font-size: 1.3em;
  }
  
  .chef-section > .triangle-top-left {
    border-width: 60vh 60vh 0 0;
  }
  
  .chef-section > .triangle-bottom-left {
    border-width: 60vh 0 0 60vh;
  }
  
  .chef-section > .triangle-top-right {
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 60vh 60vh 0;
		border-color: transparent #110f18 transparent transparent;
		transition: all 1s;
	}

	.chef-section > .triangle-bottom-right {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 60vh 60vh;
		border-color: transparent transparent #110f18 transparent;
		transition: all 1s;
	/*   display: none; */
	}

  .pink-circle {
    top: 15%;
    left: 75%;
    width: 250px;
    height: 250px;
	} 
	
	/* film / edu section */

	.film-edu-section > .bottom-circle {
    top: 50%;
    left: -5%;
    height: 600px;
		width: 600px;
  }
  
  .top-circle {
    top: 20%;
    right: -50%;
    max-width: 750px;
		max-height: 750px;
  }
  
  .film-edu-section > .vert-heading-text {
    transform: rotate(0deg);
    top: 15%;
    left: 10%;
}
  
  .film-work {
    top: 16%;
    right: 50%;
  }
  
  .film-edu-section > .vert-heading-text:last-child {
    transform: rotate(0deg);
    top: 70%;
    left: 296px;
  }
  
  .education {
    top: 70%;
	}
	
	/* connect  */
	.main-text {
		margin-top: 10%;
		margin-right: 20%;
		font-size: 3.5em;
		height: 20%;
	}

	.main-text p {
		font-size: 0.3em;
	}

	.links ul {
		list-style: none;
		text-align: center;
		margin-top: 10%;
		padding: 0;
		margin-left:10%;
		}
		
	/* Contact Form  */
	.contact-form {
		position: absolute;
		top: 60%;
		/* display: block; */
		max-width: 600px;
		margin: -25% auto;
		color: #f5f1d5;
	}
	.contact-form h1 {
		padding: 20px 0;
		font-size: 140%;
		font-weight: 300;
		text-align: left;
		color: #f5f1d5;
		/* margin: -16px -16px 16px -16px; */
	}
	
	.contact-form label {
		display: block;
		margin:15px;
		font-size: 1.2em;
		/* padding: 10px; */
	}
	
	.contact-form input {
		color: #f5f1d5;
		font-size: 1.1em;
		display: block;
		margin: 15px;
		height: 20px;
		width: 100%;
		background: transparent;
		border: 0;
		border-bottom: 2px solid #f5f1d5;
		padding-bottom: 10px;
	}
	
	textarea {
		background: transparent;
		color: #f5f1d5;
		font-size: 1.2em;
		width: 100%;
	}
	
	button {
		position: absolute;
		right: 0;
		margin: 10px;
		padding: 15px 32px;
		color: #f5f1d5;
		background: #110f18;
		border-radius: 15px;
		font-size: 1em;
	}
	
}

/* @media (min-width: 1500px) {
	.top-circle {
		top: 5%;
		right: -10%;
	
	} */
}